@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

.montserrat {
  font-family: "Montserrat", "sans-serif";
  font-optical-sizing: auto;
}

.inter {
  font-family: "Inter", "sans-serif";
}

@theme {
  --color-purple-500: oklch(62.67% 0.17 287.08);
  --text-purple-500: oklch(62.67% 0.17 287.08);
  --color-purple-600: oklch(46.39% 0.177 283.72);
  --color-brand: #8E76F2;
  --color-brand-light: #EDE6FF;
  --color-brand-text: #B9A8F6;
  --color-dark: #2E2E2E;
  --color-muted: #8A8A8A;
  --color-white: #FFFFFF;
}

.logo-typography {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* body {
  background: rgb(51, 51, 51);
  color: white;
} */
