@import 'tailwindcss';

.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.merriweather {
  font-family: 'Merriweather', serif;
}
.inter {
  font-family: 'Inter', sans-serif;
}

@theme {
  --color-purple-500: oklch(62.67% 0.17 287.08);
  --text-purple-500: oklch(62.67% 0.17 287.08);
  --color-purple-600: oklch(46.39% 0.177 283.72);
  --color-brand: #8e76f2;
  --color-brand-light: #ede6ff;
  --color-brand-text: #b9a8f6;
  --color-dark: #2e2e2e;
  --color-muted: #8a8a8a;
  --color-white: #ffffff;
}

.logo-typography {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mobile-menu-wrapper {
  z-index: 1000;
}

.toast-uppercase {
  text-transform: uppercase;
}
